<!--
  Copyright 2016 The Cartographer Authors

  Licensed under the Apache License, Version 2.0 (the "License");
  you may not use this file except in compliance with the License.
  You may obtain a copy of the License at

       http://www.apache.org/licenses/LICENSE-2.0

  Unless required by applicable law or agreed to in writing, software
  distributed under the License is distributed on an "AS IS" BASIS,
  WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
  See the License for the specific language governing permissions and
  limitations under the License.
-->

<launch>
<!-- IMU starten #################################################################### -->
  <node pkg="reccord_bag" type="mpu6050_serial_to_imu_node" name="mpu6050_serial_to_imu_node" required="true" output="screen">
    <param name="port" value="/dev/ttyACM0"/>
  </node> 


<!-- RPlidar starten #################################################################### -->
  <param name="/usw_sim_time" value="false"/>
  <node name="rplidarNode"          pkg="rplidar_ros"  type="rplidarNode" output="screen">
  <param name="serial_port"         type="string" value="/dev/ttyUSB1"/>
  <param name="serial_baudrate"     type="int"    value="115200"/>
  <param name="frame_id"            type="string" value="laser"/>
  <param name="inverted"            type="bool"   value="false"/>
  <param name="angle_compensate"    type="bool"   value="true"/>
  </node> 


  <!-- Turtlebot  bringup ################################################################## -->
<include file =  "$(find turtlebot_bringup)/launch/minimal.launch"/> 



<!-- ##############################################################  RVIZ-->

  <node name="rviz" pkg="rviz" type="rviz" required="true"
      args="-d $(find cartographer_ros)/configuration_files/demo_2d.rviz" />
<!-- ##############################################################  -->

  <param name="robot_description"
    textfile="$(find cartographer_ros)/urdf/00_Kobuki.urdf" />

<!--  <node name="robot_state_publisher" pkg="robot_state_publisher"
    type="robot_state_publisher" />-->


<!---configuration_basename 00_Kobuki.lua   mit/ohne IMU -->

  <param name="robot_description"
    textfile="$(find cartographer_ros)/urdf/00_Kobuki.urdf" />

  <node name="cartographer_node" pkg="cartographer_ros"
      type="cartographer_node" args="
          -configuration_directory $(find cartographer_ros)/configuration_files
          -configuration_basename 00_Kobuki_without_imu.lua
          -load_state_filename $(arg load_state_filename)"
      output="screen">
  </node>

  <node name="cartographer_occupancy_grid_node" pkg="cartographer_ros"
      type="cartographer_occupancy_grid_node" args="-resolution 0.05" />

  <!--  <node name="playbag" pkg="rosbag" type="play" args="
clock $(arg bag_filename)" /> -->

</launch>
